/* background */

body {
   background-attachment: fixed;
   background-image: url("/background.png");
   background-position: center; 
	background-size: cover;
}



/* font */

@font-face {
    src: url("https://cdn.halodev.games/fonts/gotham-ssm/book.otf");
    font-family: "Gotham SSm";
    font-size: normal;
    font-weight: normal;
}

@font-face {
    src: url("https://cdn.halodev.games/fonts/gotham-ssm/black.otf");
    font-family: "Gotham SSm";
    font-size: large;
    font-weight: bold;
}
 
* {
    font-family: "Gotham SSm";
	color: #ffffff;
}

h1 {
    font-size: 1.5em;
    font-weight: bold;
	margin-top: 0;
}


 
/* text */
 
p {
	margin: 0;
}
 
ul {
	padding-left: 2em;
}

li {
	padding: .5em;
}

li::marker {
	color: #808080;
}

a:link:not(.button, .large-button, .footer-item), a:visited:not(.button, .large-button, .footer-item) {
	color: hsl(197, calc(var(--saturation-factor, 1) * 100%), 47.8%);
	text-decoration: none;
}

a:hover:not(.button, .large-button, .footer-item) {
	text-decoration: underline;
}



/* scroll anchors */

html {
	scroll-behavior: smooth;
}

a.scroll-anchor > * {
	color: black;
}

a.scroll-anchor:hover {
	text-decoration: none;
}

a.scroll-anchor:focus {
	outline: none;
}



/* layout */

* {
	box-sizing: border-box;
}

.centre {
	width: 75%;
	position: relative;
	z-index: 2;
}



/* borders */

.border {
	--border-colour: #424242;
	outline: 0.25em solid var(--border-colour);
}



/* main sections */

.box {
	display: block;
	padding: 1em;
	position: relative;
	background-color: #212121;
	border-radius: 15px;
}



/* groups */

.grid {
	column-gap: 1em;
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	row-gap: 1em;
}


/* large buttons */

.large-button {
	align-items: center;
	background-color: #424242;
	border-radius: 7.5px;
	border: none;
	color: black;
	column-gap: 0.5em;
	cursor: pointer;
	display: flex;
	height: 100%;
	padding: 10px 16px;
	text-decoration: none;
	width: 100%;
}

.large-button img, .large-button video {
	float: left;
	height: 2em;
}


/* media */

img {
	width: 100%;
}



/* emojis */

.emoji {
	height: 1.25em;
	vertical-align: middle;
	width: auto;
}



/* responsive web design */

@media only screen and (max-width: 750px) {
	.centre {
        width: 100% !important;
    }

	ul {
	    padding-left: 1.25em;
	}

	.grid {
	    grid-template-columns: repeat(1, minmax(0, 1fr));
	}

	.thumbnail {
	    width: 5em !important
	}

	.centre, article {
	    padding: 0 !important;
	}

	section {
        -webkit-flex-direction: column;
        flex-direction: column;
	}
}
