/* font */

@font-face {
    src: url("https://cdn.halodev.games/fonts/gotham-ssm/book.otf");
    font-family: "Gotham SSm";
    font-size: normal;
    font-weight: normal;
}

@font-face {
    src: url("https://cdn.halodev.games/fonts/gotham-ssm/black.otf");
    font-family: "Gotham SSm";
    font-size: large;
    font-weight: bold;
}
 
* {
    font-family: "Gotham SSm";
	color: #ffffff;
}

h1 {
    font-size: 1.5em;
    font-weight: bold;
	margin-top: 0;
}

h2 {
    font-size: 1.25em;
    font-weight: bold;
}

h3 {
    font-size: 1em;
    font-weight: bold;
}


 
/* text */
 
p {
	margin: 0;
}
 
ul {
	padding-left: 2em;
}

li {
	padding: .5em;
}

li::marker {
	color: #808080;
}

time {
	background: hsla(0, 0%, 0%, 0.075);
	border: 1px solid hsla(0, 0%, 0%, 0.10);
	border-radius: 4px;
	padding: 0 0.2em;
	position: relative;
}

time .popup {
	background-color: #e6e6e6;
	border: 1px solid hsla(0, 0%, 0%, 0.10);
	border-radius: 4px;
	bottom: 1.5em;
	display: none;
	margin: 0 calc(-1px - 0.2em);
	padding: 0 0.2em;
	position: absolute;
	visibility: hidden;
}

time:hover .popup {
	display: inline;
	visibility: visible;
	width: max-content;
}

.corner-border:has(> .button:hover), .corner-border:has(> .large-button:hover), .media-corner-border:has(> a:hover) {
	scale: 110%;
	filter: brightness(90%);
}

a:link:not(.button, .large-button, .footer-item), a:visited:not(.button, .large-button, .footer-item) {
	color: hsl(197, calc(var(--saturation-factor, 1) * 100%), 47.8%);
	text-decoration: none;
}

a:hover:not(.button, .large-button, .footer-item) {
	text-decoration: underline;
}



/* images */

.circle-border {
	border-radius: 100%;
}



/* scroll anchors */

html {
	scroll-behavior: smooth;
}

a.scroll-anchor > * {
	color: black;
}

a.scroll-anchor:hover {
	text-decoration: none;
}

a.scroll-anchor:focus {
	outline: none;
}



/* layout */

* {
	box-sizing: border-box;
}

.centre {
	width: 75%;
	position: relative;
	z-index: 2;
	
}

.box {
	display: flow-root; /* if the display seems fucked up, this may be the line that's causing it ! */
	padding: 1em;
	position: relative;
	background-color: #212121;
	border-radius: 15px;
	
}

hr {
	width: 100%;
}

.empty {
	padding: 1em;
}



/* borders */

.border {
	--border-colour: #424242;
	outline: 0.25em solid var(--border-colour);
}



/* main sections */

section {
	display: -webkit-flex;
	display: flex;
}

article {
	display: flex;
	-webkit-flex: 3;
	-ms-flex: 3;
	flex: 3;
	flex-direction: column;
	gap: 1em;
	padding: 1em;
}


/* groups */

.list {
	column-gap: 0.2em;
	display: grid;
	grid-template-columns: repeat(1, minmax(0, 1fr));
	row-gap: 0.2em;
}

.grid {
	column-gap: 1em;
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	row-gap: 1em;
}


/* large buttons */

.large-button {
	align-items: center;
	background-color: #424242;
	border-radius: 7.5px;
	border: none;
	color: black;
	column-gap: 0.5em;
	cursor: pointer;
	display: flex;
	height: 100%;
	padding: 10px 16px;
	text-decoration: none;
	width: 100%;
}

.large-button img, .large-button video {
	float: left;
	height: 2em;
}


/* media */

img, video {
	width: 100%;
}

.media-corner-border:has(.thumbnail) {
	height: auto;
	float: right;
	width: auto;
}

.thumbnail {
	position: relative;
	width: 10em;
}

a img {
	text-decoration: none;
}

.media-corner-border:has(.youtube-video) {
	aspect-ratio: 16 / 9;
}

.youtube-video {
	height: 100%;
	width: 100%;
}



/* emojis */

.emoji {
	height: 1.25em;
	vertical-align: middle;
	width: auto;
}

.inline-button-emoji {
	float: none !important;
	height: 1.25em !important;
}



/* responsive web design */

.mobile {
	display: none;
}

@media only screen and (max-width: 750px) {
	.desktop {
	display: none;
	}

	.mobile {
	display: block;

	}

	ul {
	padding-left: 1.25em;
	}

	.grid {
	grid-template-columns: repeat(1, minmax(0, 1fr));
	}

	.thumbnail {
	width: 5em !important
	}

	.centre, article {
	padding: 0 !important;
	}

	section {
	-webkit-flex-direction: column;
	flex-direction: column;
	}
}
